<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbh.dao.CusRetireMapper">
  <resultMap id="BaseResultMap" type="com.hbh.entity.CusRetire">
    <id column="saleid" jdbcType="VARCHAR" property="saleid" />
    <result column="proid" jdbcType="VARCHAR" property="proid" />
    <result column="pname" jdbcType="VARCHAR" property="pname" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="total" jdbcType="DOUBLE" property="total" />
    <result column="saledate" jdbcType="DATE" property="saledate" />
    <result column="retdate" jdbcType="DATE" property="retdate" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="marks" jdbcType="VARCHAR" property="marks" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    saleid, proid, pname, price, num, total, saledate, retdate, reason, marks
  </sql>
  <select id="selectByExample" parameterType="com.hbh.entity.CusRetireExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from cusretire
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cusretire
    where saleid = #{saleid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from cusretire
    where saleid = #{saleid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hbh.entity.CusRetire">
    insert into cusretire (saleid, proid, pname, 
      price, num, total, saledate, 
      retdate, reason, marks
      )
    values (#{saleid,jdbcType=VARCHAR}, #{proid,jdbcType=VARCHAR}, #{pname,jdbcType=VARCHAR}, 
      #{price,jdbcType=DOUBLE}, #{num,jdbcType=INTEGER}, #{total,jdbcType=DOUBLE}, #{saledate,jdbcType=DATE}, 
      #{retdate,jdbcType=DATE}, #{reason,jdbcType=VARCHAR}, #{marks,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hbh.entity.CusRetire">
    update cusretire
    set proid = #{proid,jdbcType=VARCHAR},
      pname = #{pname,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      num = #{num,jdbcType=INTEGER},
      total = #{total,jdbcType=DOUBLE},
      saledate = #{saledate,jdbcType=DATE},
      retdate = #{retdate,jdbcType=DATE},
      reason = #{reason,jdbcType=VARCHAR},
      marks = #{marks,jdbcType=VARCHAR}
    where saleid = #{saleid,jdbcType=VARCHAR}
  </update>
  <select id="getbyparams" resultMap="BaseResultMap">
 	 select * from cusretire
  	<where>
		<if test="proid!=null and proid!=''">
		and	proid = #{proid,jdbcType=VARCHAR}
		</if>		 	
		<if test="retdate!=null and retdate!=''">
			and retdate=#{retdate}
		</if>
		<if test="pname!=null and pname!=''">
			and pname like concat('%',#{pname},'%')
		</if>	
		<if test="saleid!=null and saleid!=''">
			and saleid=#{saleid}
		</if>
		</where>	
  </select>
</mapper>