<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbh.dao.CustomMapper">
  <resultMap id="BaseResultMap" type="com.hbh.entity.Custom">
    <id column="cusid" jdbcType="VARCHAR" property="cusid" />
    <result column="cusname" jdbcType="VARCHAR" property="cusname" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="person" jdbcType="VARCHAR" property="person" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="emali" jdbcType="VARCHAR" property="emali" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    cusid, cusname, tel, person, address, emali
  </sql>
  <select id="selectByExample" parameterType="com.hbh.entity.CustomExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from custom
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from custom
    where cusid = #{cusid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from custom
    where cusid = #{cusid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hbh.entity.Custom">
    insert into custom (cusid, cusname, tel, 
      person, address, emali
      )
    values (#{cusid,jdbcType=VARCHAR}, #{cusname,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{person,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{emali,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hbh.entity.Custom">
    update custom
    set cusname = #{cusname,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      person = #{person,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      emali = #{emali,jdbcType=VARCHAR}
    where cusid = #{cusid,jdbcType=VARCHAR}
  </update>
  <select id="getbyparams" resultMap="BaseResultMap">
  	select * from custom
  	<where>
		<if test="cusid!=null and cusid!=''">
		and	cusid = #{cusid,jdbcType=VARCHAR}
		</if>		 	
		<if test="cusname!=null and cusname!=''">
			and cusname like concat('%',#{cusname},'%')
		</if>
		
	</where>	
  </select>
</mapper>