<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbh.dao.ManagerMapper">
  <resultMap id="BaseResultMap" type="com.hbh.entity.Manager">
    <id column="managerid" jdbcType="VARCHAR" property="managerid" />
    <result column="managername" jdbcType="VARCHAR" property="managername" />
    <result column="card" jdbcType="VARCHAR" property="card" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="stafftype" jdbcType="VARCHAR" property="stafftype" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

 
  <select id="getbyid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from manager
    where managerid = #{managerid,jdbcType=VARCHAR}
  </select>
  
  
  <update id="update" parameterType="com.hbh.entity.Manager">
    update manager
    set managername = #{managername,jdbcType=VARCHAR},
      card = #{card,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      stafftype = #{stafftype,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR}
    where managerid = #{managerid,jdbcType=VARCHAR}
  </update>
  
  <select id="getmanager" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select * from manager  where managerid = #{managerid,jdbcType=VARCHAR}
  </select>
</mapper>