<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbh.dao.SaleMapper">
  <resultMap id="BaseResultMap" type="com.hbh.entity.Sale">
    <id column="saleid" jdbcType="VARCHAR" property="saleid" />
    <result column="proid" jdbcType="VARCHAR" property="proid" />
    <result column="pname" jdbcType="VARCHAR" property="pname" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="total" jdbcType="VARCHAR" property="total" />
    <result column="saledate" jdbcType="DATE" property="saledate" />
    <result column="cusid" jdbcType="VARCHAR" property="cusid" />
    <result column="cusname" jdbcType="VARCHAR" property="cusname" />
    <result column="marks" jdbcType="VARCHAR" property="marks" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    saleid, proid, pname, price, num, total, saledate, marks,cusid,cusname
  </sql>
  <select id="selectByExample" parameterType="com.hbh.entity.SaleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from sale
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sale
    where saleid = #{saleid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sale
    where saleid = #{saleid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hbh.entity.Sale">
    insert into sale (saleid, proid, pname, 
      price, num, total, saledate, cusid,cusname,
      marks)
    values (#{saleid,jdbcType=VARCHAR}, #{proid,jdbcType=VARCHAR}, #{pname,jdbcType=VARCHAR}, 
      #{price,jdbcType=DOUBLE}, #{num,jdbcType=INTEGER}, #{total,jdbcType=VARCHAR}, #{saledate,jdbcType=DATE}, 
      #{cusid,jdbcType=VARCHAR}, #{cusname,jdbcType=VARCHAR},
      #{marks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hbh.entity.Sale">
    insert into sale
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="saleid != null">
        saleid,
      </if>
      <if test="proid != null">
        proid,
      </if>
      <if test="pname != null">
        pname,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="total != null">
        total,
      </if>
      <if test="saledate != null">
        saledate,
      </if>
      <if test="marks != null">
        marks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="saleid != null">
        #{saleid,jdbcType=VARCHAR},
      </if>
      <if test="proid != null">
        #{proid,jdbcType=VARCHAR},
      </if>
      <if test="pname != null">
        #{pname,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="total != null">
        #{total,jdbcType=VARCHAR},
      </if>
      <if test="saledate != null">
        #{saledate,jdbcType=DATE},
      </if>
      <if test="marks != null">
        #{marks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hbh.entity.Sale">
    update sale
    <set>
      <if test="proid != null">
        proid = #{proid,jdbcType=VARCHAR},
      </if>
      <if test="pname != null">
        pname = #{pname,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="total != null">
        total = #{total,jdbcType=VARCHAR},
      </if>
      <if test="saledate != null">
        saledate = #{saledate,jdbcType=DATE},
      </if>
      <if test="cusid != null">
        cusid = #{cusid,jdbcType=VARCHAR},
      </if>
      <if test="cusname != null">
        cusname = #{cusname,jdbcType=VARCHAR},
      </if>
      <if test="marks != null">
        marks = #{marks,jdbcType=VARCHAR},
      </if>
    </set>
    where saleid = #{saleid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hbh.entity.Sale">
    update sale
    set proid = #{proid,jdbcType=VARCHAR},
      pname = #{pname,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      num = #{num,jdbcType=INTEGER},
      total = #{total,jdbcType=VARCHAR},
      saledate = #{saledate,jdbcType=DATE},
       cusid = #{cusid,jdbcType=VARCHAR},
       cusname = #{cusname,jdbcType=VARCHAR},
      marks = #{marks,jdbcType=VARCHAR}
    where saleid = #{saleid,jdbcType=VARCHAR}
  </update>
      <select id="getbyparams" resultMap="BaseResultMap">
 	 select * from sale
  	<where>
		<if test="proid!=null and proid!=''">
		and	proid = #{proid,jdbcType=VARCHAR}
		</if>		 	
		<if test="pname!=null and pname!=''">
			and pname like concat('%',#{pname},'%')
		</if>	
			<if test="cusid!=null and cusid!=''">
		and	cusid = #{cusid,jdbcType=VARCHAR}
		</if>		 	
		<if test="cusname!=null and cusname!=''">
			and cusname like concat('%',#{cusname},'%')
		</if>	
		</where>	
  </select>
</mapper>